<!DOCTYPE html>
<link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico" />

<html>
  {% include head.html %}
  <head>
    <script data-ad-client="ca-pub-5059593970845476" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
    <meta
      name="google-site-verification"
      content="cjPRS6IGIrL0wi05OEUBWhqUYYoo6JT1RdAxCgVM4Ss"
    />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
  {% seo %}
  </head>
  <body>
    {% include navbar.html %} {{ content }} {% include footer.html %} {% include
    scripts.html %} {% include google-analytics.html %}
</html>
